header{
    background-color: rgb(17, 184, 206);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    text-transform: uppercase;
    padding-left: 10px;
    color: yellow;
    text-shadow: 3px 4px 1px rgb(240, 126, 113);
}

header p{
    color: rgb(255, 255, 255);
    padding-right: 10px;
    text-shadow: 2px 1px .5px rgba(0, 00, 0, 2);
}

.menu{
    background-color: rgb(58, 197, 127);
    display: flex;
    justify-content: center;
}

.menu a,.menu .dropdown-content{
    background-color: rgb(40, 151, 96);
    margin-right: 10px;
    width: 110px;
    height: 23px;
    padding-top: 8px;
    font-size: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.menu a:hover,.dropdown-content:hover .dropdown,.dropdown-content:hover{
    background-color: rgb(67, 118, 93);
}
.dropdown-menu{
    z-index: 1000;
    display: none;
    margin-top: 6px;
}

.dropdown-menu a{
    z-index: 1000;
    display: block;
}

.dropdown-content:hover .dropdown-menu{
    z-index: 1000;
    display: block;
}

.left-section{
    background-color: rgb(17, 184, 206);
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 250px;
}

.left-section img,.image-change img{
    margin-top: 20px;
    width: 250px;
}

.left-section img:hover{
    transform: scale(1.1);
    transition: all .5s linear;
}

.right-section{
    z-index: -1;
    position: fixed;
    left :270px;
    background-color: rgb(17, 184, 206);
    width: 100%;
    height: 100%;
}

.color-picker :nth-child(1){
    background-color: red;
}

.color-picker :nth-child(2){
    background-color: blue;
}

.color-picker :nth-child(3){
    background-color: white;
}

.color-picker :nth-child(4){
    background-color: yellow;
}
.color{
    border: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

table{
    border-collapse: collapse;
}